*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.metadata
.settings/
local.properties

# NetBeans
nbbuild/
nbdist/
nbproject/
nb-configuration.xml
nbactions.xml

# Maven, etc.
out/
target/

# Don't apply the above to src/ where Java requires
# subdirectories named according to package names.
# We do not want to forbid things like "dumpfiles" in
# package names.
!src/

# Use as directory for local testing code
**/src/local/

# General
*.pyc
*~
*.bak
*.sw[o,p]
*.tmp
.DS_Store
Thumbs.db

# Output of tests and examples
*.log
rulewerk-core/src/test/data/output/*
rulewerk-examples/src/main/data/output/*
rulewerk-examples/src/main/data/logs/*
rulewerk-rdf/src/main/data/output/*
rulewerk-vlog/src/test/data/output/*
/build-vlog/vlog/
/TAGS
