language: java
jdk:
  - openjdk8
#  - oraclejdk8
#  - oraclejdk9

## Uncomment section below and the packages above to build unreleased snapshots of karmaresearch/vlog into vlog4j-base jar
#before_install:
 # - sudo apt-get install gcc-5 -y
 # - eval “CC=gcc-5 && CXX=g++-5”
 # - sh ./build-vlog-library.sh

install: mvn install $OPTIONS -DskipTests=true

after_success:
  - mvn clean cobertura:cobertura coveralls:report

dist: trusty
sudo: false

cache:
  directories:
    - ./local_builds
    - $HOME/.m2
